*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.select{
    background: white;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-right: 20px;
}

.linknav{
    position: fixed;
    z-index: 4;
    height: 50px;
    padding-top: 20px;
    text-align: center;
    left: 0px;
    border-right: 20px;
    width: 100%;
    top: 30px;
}
.box{
    position: relative;
    width: 1200px;
    height: 80vh;
}

.fr{
    float: right;
}

.red-content, .grn-content h1{
    color: yellow;
    top: 50%;
    left: 50%;
}

.ylw-content h1{
    color: green;
}

.boxred{
    background-color: red;
}

.boxylw{
    background-color: yellow;
}

.boxgrn{
    background-color: green;
}

.yellowtxt{
    color: yellow;
}

.greentxt{
    color: green;
}
